.moviePageContainer{
max-width: 1000px;
display: flex;
justify-content: center;
align-items: center;
margin: 2rem 2rem;
gap: 1rem;
}

.moviePageImgContainer{
    max-width: 30%;
    position: relative;
    display: flex;
}

.moviePageContainer img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.moviePageArticle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}

.detailsAndButtonsContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.detailsAndButtonsContainer button{
    padding: 0.50rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 180, 228);
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.detailsAndButtonsContainer button:hover{
    background-color: rgb(13, 37, 63);
}

.moviePageButtons{
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px){
    .moviePageContainer{
        max-width: 90%;
        flex-direction: column;
    }
    .moviePageImgContainer{
    max-width: 90%;
    position: relative;
    display: flex;
}
}